<div class="row mt-5">
 <style>


.rating-label {
	font-weight: bold;
}

/* Rating bar width */
.rating-bar {
	width: 300px;
	padding: 8px;
	border-radius: 5px;
}

/* The bar container */

.star-active {
	color: #FBC02D;
	margin-top: 10px;
	margin-bottom: 10px;
}

.star-active:hover {
	color: #F9A825;
	cursor: pointer;
}

.star-inactive {
	color: #CFD8DC;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blue-text {
	color: #0091EA;
}

 </style>
    <div class="right_body col-lg-12 col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Food Name</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-center">Amount Rating</th>
                    <th scope="col" class="text-center">Average Rating</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in items | limitTo: pager.size : pager.page">
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{c.food.name}}</td>
                    <td>{{c.food.price | currency:'₫ '}}</td>
                    <td class="text-center">{{c.amount}}</td>
                    <td class="text-center">{{c.average}}</td>

                    <td>
                        <button ng-click="viewReview.getDetail(c, c.food)" type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#exampleModal1">
                            <i class="far fa-eye"></i> View Rating
                        </button>

                       
                    </td>

                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" ng-click="pager.prev()"><i class="fas fa-angle-left"></i>
                        Previous</a></li>
                <li class="page-item">
                    <button class="btn btn-outline-info">{{pager.page + 1}} of {{pager.count}}</button>
                </li>
                <li class="page-item"><a class="page-link" ng-click="pager.next()"><i class="fas fa-angle-right"></i>
                        Next</a></li>
            </ul>
        </nav>
    </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-lg">
     <div class="modal-content">
         <div class="modal-header ">
             <h3 class="modal-title" id="exampleModalLabel">View Rating: <b>{{viewReview.food.name}}</b></h3>
             <button ng-click="load()" type="button" class="close" data-dismiss="modal"
                 aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <div class="container-fluid px-1 py-5 mx-auto">
                 <div class="row justify-content-center">
                     <div class="text-center mb-5">
                         <div class="col-12">
                             <div class="row justify-content-left d-flex">
                                 <div class="col-md-4 d-flex flex-column">
                                     <div class="rating-box w-75 m-auto" style="background-color: #FBC02D;">
                                         <h1 class="pt-4">{{viewReview.review.average}}</h1>
                                         <p class="">out of 5</p>
                                     </div>
                                     <div class="mt-n5">
                                         <span class="{{viewReview.review.average >= 1 ? 'fa fa-star star-active mx-1':'fa fa-star star-inactive mx-1' }}"></span>
                                         <span class="{{viewReview.review.average >= 2 ? 'fa fa-star star-active mx-1':'fa fa-star star-inactive mx-1' }}"></span>
                                         <span class="{{viewReview.review.average >= 3 ? 'fa fa-star star-active mx-1':'fa fa-star star-inactive mx-1' }}"></span>
                                         <span class="{{viewReview.review.average >= 4 ? 'fa fa-star star-active mx-1':'fa fa-star star-inactive mx-1' }}"></span>
                                         <span class="{{viewReview.review.average >= 4.5 ? 'fa fa-star star-active mx-1':'fa fa-star star-inactive mx-1' }}"></span>
                                     </div>
                                     <span class="d-block text-center">{{viewReview.review.amount}} reviews</span>
                                 </div>
                                 <div class="col-md-8">
                                     <div class="rating-bar0 justify-content-center">
                                         <table class="text-left mx-auto">
                                             <tr class="border-0">
                                                 <td class="rating-label">Excellent</td>
                                                 <td class="rating-bar">
                                                    <div class="progress" style="height: 10px;">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {{ viewReview.rating.excellentPer }}%" aria-valuenow="{{ viewReview.rating.excellentPer }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>                                                      
                                                 </td>
                                                 <td class="text-right">{{ viewReview.rating.excellent }}</td>
                                             </tr>
                                             <tr>
                                                 <td class="rating-label">Good</td>
                                                 <td class="rating-bar">
                                                    <div class="progress" style="height: 10px;">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {{ viewReview.rating.goodPer }}%" aria-valuenow="{{ viewReview.rating.goodPer }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                 </td>
                                                 <td class="text-right">{{ viewReview.rating.good }}</td>
                                             </tr>
                                             <tr>
                                                 <td class="rating-label">Average</td>
                                                 <td class="rating-bar">
                                                    <div class="progress" style="height: 10px;">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {{ viewReview.rating.averagePer }}%" aria-valuenow="{{ viewReview.rating.averagePer }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                 </td>
                                                 <td class="text-right">{{ viewReview.rating.average }}</td>
                                             </tr>
                                             <tr>
                                                 <td class="rating-label">Poor</td>
                                                 <td class="rating-bar">
                                                    <div class="progress" style="height: 10px;">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {{ viewReview.rating.poorPer }}%" aria-valuenow="{{ viewReview.rating.poorPer }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                 </td>
                                                 <td class="text-right">{{ viewReview.rating.poor }}</td>
                                             </tr>
                                             <tr>
                                                 <td class="rating-label">Terrible</td>
                                                 <td class="rating-bar">
                                                    <div class="progress" style="height: 10px;">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {{ viewReview.rating.terriblePer }}%" aria-valuenow="{{ viewReview.rating.terriblePer }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                 </td>
                                                 <td class="text-right">{{ viewReview.rating.terrible }}</td>
                                             </tr>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     
                     </div>
                 </div>
             </div>
             <table class="table text-center table-hover">
                 <thead>
                     <tr>
                         <th>#</th>
                         <th>Name </th>
                         <th>Rate </th>
                         <th></th>
                     </tr>
                 </thead>
                 <tbody>

                     <tr ng-repeat="f in reviewFood">
                         <th scope="row">{{$index + 1}}</th>
                         <td>{{f.customer.fullname}} </td>
                         <td>{{f.rating}} </td>
                         <td><button class="btn btn-warning"
                                 ng-click="review.clickDelete(f)" data-toggle="modal"
                                 data-target="#exampleModal"><i
                                     class="fas fa-trash-alt"></i></button></td>
                     </tr>

         

                 </tbody>
             </table>
         </div>
     </div>
 </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning Notification!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want delete this review by <i>{{review.itemDelete.customer.fullname}}</i>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button ng-click="review.confirmDelete()" type="button" class="btn btn-outline-danger"
                    data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <img src="/img/logo.png" class="rounded mr-2" alt="logo" width="30%">
            <strong class="mr-auto">Notification SUNFOOD</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div class="alert alert-success" role="alert" ng-if="message != ''">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" ng-if="error != ''">
                {{error}}
            </div>
        </div>
    </div>
</div>