<style>
    .overflow-y-auto {
   max-height: 500px;
   overflow-y: auto;
}
</style>
<div class="row border d-flex justify-content-center">
	<div class="col-12 row  mt-2">
		<div class="col-8 mb-2 d-flex">
			<div class="col-sm-12 col-md-6">
				<div class="dataTables_length d-flex mt-2" id="dataTable_length">
					<label class="d-flex">Show 
						<select ng-model="pager.size" name="dataTable_length"
							aria-controls="dataTable"
							class="custom-select custom-select-sm form-control form-control mx-1 mt-n1">
							<option ng-value="5">5</option>
							<option ng-value="10">10</option>
							<option ng-value="25">25</option>
							<option ng-value="50">50</option>
							<option ng-value="100">100</option>
						</select> 
						entries</label>
					</div>
			</div>
			<input ng-model="searchByName" class="form-control mr-sm-2 w-100" type="search" placeholder="Search"
				aria-label="Search">
		</div>
		<div class="form-group col-4">
			<input type="date" ng-model="createDate" ng-change="selectCreateDate(createDate)" class="form-control "
				aria-describedby="otherNameHid">
		</div>
	</div>
	<div class="text-center row">
		<table class="table col-12 container-fluid">

			<thead>
				<tr>
					<th scope="col-3">Name</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity Limit</th>
					<th scope="col">Quantity Sell</th>
					<th scope="col">Views</th>
					<th scope="col">Create Date</th>
					<th scope="col">Display</th>
					<th scope="col">Creator</th>
					<th scope="col">
						<a>
							<a class="btn btn-primary" ng-click="selectCreate()"><i class="fas fa-plus"></i> Create</a>
						</a>
						<!-- -------------------------------------- -->
							<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
	<i class="fa fa-file" aria-hidden="true"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Hãy click vào biểu tượng Excel hoặc PDF khi muốn lưu file</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<button ng-click="exportFood()" type="button" class="btn btn-success">
				<i class="fa fa-file-excel fa-2x" aria-hidden="true"></i>
			</button>

			<button class="btn btn-warning mb-2" type="button" value="Export to Excel" id="btnexport" ng-click="exportPdfFood()">
				<i class="fa fa-file-pdf fa-2x" aria-hidden="true"></i>
			  </button>
			<div class="overflow-y-auto">
			<table class="table" id="exportFood" style="color: black;font-size:15px">
				<thead>
					<tr>
						<th scope="col" colspan="15" style="color: red;font-size:28px;text-align:center">Foods</th>
					</tr>
				  <tr>					
					<th scope="col">ID</th>
					<th scope="col" colspan="2">Price</th>
					<th scope="col" colspan="2">Quantity Limit</th>
					<th scope="col" colspan="2">Quantity Sell</th>
					<th scope="col" colspan="2">Views</th>
					<th scope="col" colspan="2">Create Date</th>
					<th scope="col" colspan="2">Display</th>
					<th scope="col" colspan="2">Creator</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="food in items">
					<th scope="row">{{$index +1}} </th>
					<td colspan="2">{{food.price}} </td>
					<td colspan="2">{{food.quantityLimit}} </td>
					<td colspan="2">{{food.quantitySell}} </td>
					<td colspan="2">{{food.viewCount}} </td>
					<td colspan="2">{{food.createDate | date: 'dd/MM/yyyy'}} </td>
					<td colspan="2">{{food.display ? 'Hoạt động':'Hủy'}} </td>
					<td colspan="2">{{food.user.username}} </td>
				  </tr>
				</tbody>
			  </table>
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>

				<tr
					ng-repeat="f in items| limitTo: pager.size : pager.size*pager.page|filter: searchByName | filter: selectedOption">

					<td>{{f.name}} </td>
					<td>
						{{f.price | currency:'₫ '}}
					</td>
					<td>{{f.quantityLimit}}</td>
					<td>{{f.quantitySell}}</td>
					<td>{{f.viewCount}}</td>
					<td>{{f.createDate | date: 'dd/MM/yyyy'}}</td>
					<td>
						{{f.display ? 'Yes':'No'}}</td>
					<td>{{f.user.username}}</td>
					<td>
						<button class="btn btn-success mb-2" ng-click="edit(f);findImageNameByFoodId(f.id)"><i
								class="far fa-edit"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="col-12">
			<nav aria-label="Page navigation example">

				<ul class="pagination justify-content-center m-auto">
					<li class="page-item"><a class="page-link" ng-click="pager.first()"><i
								class="fa-solid fa-backward-fast"></i> First</a></li>
					<li class="page-item"><a class="page-link" ng-click="pager.prev()"><i
								class="fa-solid fa-backward-step"></i> Previous</a></li>
					<li class="page-item">
						<button class="btn btn-outline-info">{{pager.page + 1}} of {{pager.count}}</button>
					</li>
					<li class="page-item"><a class="page-link" ng-click="pager.next()"><i
								class="fa-solid fa-forward-step"></i> Next</a></li>
					<li class="page-item"><a class="page-link" ng-click="pager.last()"><i
								class="fa-solid fa-forward-fast"></i> Last</a></li>
				</ul>
			</nav>
		</div>

	</div>
</div>

<!-- Notification -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
	<div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
		<div class="toast-header">
			<img src="/img/logo.png" class="rounded mr-2" alt="logo" width="30%">
			<strong class="mr-auto">Notification SUNFOOD</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">
			<div class="alert alert-success" role="alert" ng-if="message != ''">
				{{message}}
			</div>
			<div class="alert alert-danger" role="alert" ng-if="error != ''">
				{{error}}
			</div>
		</div>
	</div>
</div>