<div class="row mt-5">
    <div class="left_body col-lg-4 col-sm-12 border rounded p-3">
        <h2 class="text-center my-3">Coupon Management</h2>
        <div class="my-2 mx-5">
            <div class="alert alert-success" role="alert" ng-if="message != ''">
                <i>{{message}}</i>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="error != ''">
                <i>{{error}}</i>
            </div>
        </div>
        <form name="formVal">
            <div class="mb-3">
                <label for="idCate" class="form-label">ID</label>
                <input ng-model="form.id" disabled type="number" class="form-control" id="idCate"
                    placeholder="ID coupon">
            </div>


            <div class="mb-3">
                <label for="nameCoupon" class="form-label">Name</label>
                <input ng-model="form.name" type="text" class="form-control" id="nameCoupon"
                    placeholder="Enter name coupon here!" name="name" ng-minlength="4" ng-maxlength="20"
                    ng-required="true">

                <span class="text-danger  ml-3" ng-show="formVal.name.$error.required"> Please enter name!</span>
                <span class="text-danger  ml-3" ng-show="formVal.name.$error.minlength">words must be more than 4</span>
                <span class="text-danger  ml-3" ng-show="formVal.name.$error.maxlength">words must be less than
                    20</span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea ng-model="form.description" class="form-control" id="description"
                    placeholder="Enter description here!" name="description" ng-required="true"></textarea>
                <span class="text-danger  ml-3" ng-show="formVal.description.$error.required">
                    Please enter description!
                </span>
            </div>
            <div class="mb-3">
                <label for="userLimit" class="form-label">User Limit</label>
                <input ng-model="form.userLimit" class="form-control" id="userLimit" placeholder="Enter user limit!"
                    type="number" name="userLimit" ng-required="true"></input>
                <span class="text-danger  ml-3" ng-show="formVal.userLimit.$error.required">
                    Please enter user limit!
                </span>
            </div>

            <div class="mb-3">
                <label for="amountMoneyCoupon" class="form-label">Amount Money Coupon</label>
                <input ng-model="form.amountMoneyCoupon" class="form-control" id="amountMoneyCoupon"
                    placeholder="Enter AmountMoney Coupon !" type="number" name="amountMoneyCoupon"
                    ng-required="true"></input>
                <span class="text-danger  ml-3" ng-show="formVal.amountMoneyCoupon.$error.required">
                    Please enter amount money coupon!
                </span>
            </div>


            <div class="mb-3">
                <label for="percentCoupon" class="form-label">Percent Coupon</label>
                <input ng-model="form.percentCoupon" class="form-control" id="percentCoupon"
                    placeholder="Enter Percent Coupon!" type="number" name="percentCoupon" ng-required="true"></input>
                <span class="text-danger  ml-3" ng-show="formVal.percentCoupon.$error.required">
                    Please enter percent coupon!
                </span>
            </div>

            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <label class="form-check-label mr-3" for="inlineRadio1">Is Display</label>
                    <input ng-model="form.isDisplay" ng-value="true" type="radio" name="inlineRadioOptions"
                        id="inlineRadio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input ng-model="form.isDisplay" ng-value="false" class="form-check-input" type="radio"
                        name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <label class="form-check-label mr-3" for="isFixed">Is Fixed</label>
                    <input ng-model="form.isFixed" ng-value="true" type="radio" name="isFixed" id="isFixed1"
                        value="option1" checked>
                    <label class="form-check-label" for="isFixed1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input ng-model="form.isFixed" ng-value="false" class="form-check-input" type="radio" name="isFixed"
                        id="isFixed2" value="option2">
                    <label class="form-check-label" for="isFixed2">No</label>
                </div>
            </div>


            <div class="mb-3">
                <label for="createDate" class="form-label">Create day</label>
                <span class="form-control" id="createDate">
                    {{form.createDate | date:'dd-MM-yyyy'}}
                </span>
            </div>
            <div class="mb-3">
                <label for="startDate" class="form-label">Start day</label>
                <input ng-model="form.startDate" type="date" class="form-control" id="startDate"
                    placeholder="StartDate">
            </div>
            <div class="mb-3">
                <label for="startDate" class="form-label">End day</label>
                <input ng-model="form.endDate" type="date" class="form-control" id="endDate">
            </div>

            <div class="mb-3">
                <label for="createBy" class="form-label">Create by</label>
                <span class="form-control" id="createBy">
                    {{form.createBy}}
                </span>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <input ng-model="form.status" class="form-control" id="status" type="number" name="status"
                    ng-required="true" placeholder="Status!"></input>
                <span class="text-danger  ml-3" ng-show="formVal.status.$error.required">
                    Please enter status!
                </span>
            </div>

            <div class="text-center my-3 mt-4">
                <button ng-disabled="formVal.$invalid" ng-click="coupon.create()"
                    class="btn btn-outline-primary">Create</button>
                <button ng-disabled="formVal.$invalid" ng-click="coupon.update()"
                    class="btn btn-outline-success">Update</button>
                <button ng-disabled="formVal.$invalid" ng-click="coupon.delete(form.id)"
                    class="btn btn-outline-danger">Delete</button>
                <button ng-disabled="formVal.$invalid" ng-click="coupon.reset()"
                    class="btn btn-outline-info">Reset</button>
            </div>
        </form>
    </div>
    <div class="right_body col-lg-8 col-sm-12">
        <div class="row">
            <div class="dataTables_length d-flex mt-2" id="dataTable_length">
                <label class="d-flex">Show
                    <select ng-model="pager.size" name="dataTable_length" aria-controls="dataTable"
                        class="custom-select custom-select-sm form-control form-control mx-1 mt-n1">
                        <option ng-value="5">5</option>
                        <option ng-value="10">10</option>
                        <option ng-value="25">25</option>
                        <option ng-value="50">50</option>
                        <option ng-value="100">100</option>
                    </select>
                    entries</label>
            </div>
            <div class="col-6">
                <input ng-model="searchByName" class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search">
            </div>

        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">User Limit</th>
                    <th scope="col">Percent Coupon</th>
                    <th scope="col">Money Coupon</th>
                    <th scope="col">Start day</th>
                    <th scope="col">End day</th>
                    <th scope="col" class="text-center">Create by</th>
                    <th scope="col" class="text-center">Is display</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-repeat="c in items | limitTo: pager.size : pager.size*pager.page | filter: searchByName | filter: selectedId ">
                    <th scope="row">{{$index + 1}}</th>
                    <td class="text-center">{{c.id}}</td>
                    <td class="text-center">{{c.name}}</td>
                    <td class="text-center">{{c.userLimit}}</td>
                    <td class="text-center">{{c.percentCoupon}}%</td>
                    <td class="text-center">{{c.amountMoneyCoupon}}k VND</td>
                    <td class="text-center">{{c.startDate | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center">{{c.endDate | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center">{{c.user.fullname}}</td>

                    <td class="text-center">{{c.isDisplay?'Yes':'No'}}</td>



                    <td class="text-end">
                        <button class="btn btn-success" ng-click="coupon.edit(c)"><i class="far fa-edit"></i></button> -
                        <button class="btn btn-warning" ng-click="customerCoupon_customer(c)" data-toggle="modal"
                            data-target="#exampleModal"><i class="fas fa-trash-alt"></i></button>

                        <!-- Button trigger modal -->
                        <!-- ng-disabled="form.id == null"  -->
                        <button ng-click="openModal(c)" type="button" class="btn btn-primary mt-3" data-toggle="modal"
                            data-target="#exampleModal2">
                            Setting Coupon
                        </button>


                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" ng-click="pager.prev()"><i class="fas fa-angle-left"></i>
                        Previous</a></li>
                <li class="page-item">
                    <button class="btn btn-outline-info">{{pager.page + 1}} of {{pager.count}}</button>
                </li>
                <li class="page-item"><a class="page-link" ng-click="pager.next()"><i class="fas fa-angle-right"></i>
                        Next</a></li>
            </ul>
        </nav>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning Notification!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want delete this coupon name <i>{{coupon.itemDelete.name}}</i>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button ng-click="coupon.confirmDelete()" type="button" class="btn btn-outline-danger"
                    data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <img src="/img/logo.png" class="rounded mr-2" alt="logo" width="30%">
            <strong class="mr-auto">Notification SUNFOOD</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div class="alert alert-success" role="alert" ng-if="message != ''">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" ng-if="error != ''">
                {{error}}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Setting Coupon For</h5>
                <button ng-click="load()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th> </th>
                            <th scope="col">Email</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ng-checked="customerCoupon.coupon_of(cus,form)"
                                ng-click="customerCoupon.coupon_changed(cus,form)" -->
                        <!-- customerCoupon. -->
                        <tr ng-repeat="cus in customer">
                            <th scope="row">
                                <input type="checkbox" ng-checked="isChecked(cus,form)"
                                    ng-click="customerCoupon_changed(cus)">
                            </th>
                            <!-- <form name="hiddenForm" style="display:none">
                                <input type="hidden" ng-model="deletedCouponId">
                            </form> -->
                            <td>{{cus.email}} </td>
                            <td>{{cus.fullname}} </td>
                            <td>{{cus.gender ? 'Male':'Female'}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>